<div class="container">
  <div class="menu-content scrollbar-wrapper" perfectScrollbar>
    <div class="search-box-wrapper">
      <app-search-box (searchEvent)="filterFriends($event)"></app-search-box>
    </div>
    <ng-container *ngIf="!onFilter(); else filteredFriendList">
      <div class="content pointer" *ngFor="let friend of friends"
           (click)="setCurrentFriend(friend)"
           [class.active]="currentFriend.id === friend.id">
        <app-user-avatar [user]="friend"></app-user-avatar>
        <div class="item-detail">
          <span class="name">{{friend.name}}</span>
          <span class="last-message">test</span>
        </div>
      </div>
    </ng-container>
    <ng-template #filteredFriendList>
      <div class="content pointer" *ngFor="let friend of filteredFriends"
           (click)="setCurrentFriend(friend)"
           [class.active]="currentFriend.id === friend.id">
        <app-user-avatar [user]="friend"></app-user-avatar>
        <div class="item-detail">
          <span class="name">{{friend.name}}</span>
          <span class="last-message">test</span>
        </div>
      </div>
      <a (click)="searchUser()">查找更多...</a>
      <div class="content pointer" *ngFor="let user of moreUsers"
           (click)="setCurrentFriend(user)"
           [class.active]="currentFriend.id === user.id">
        <app-user-avatar [user]="user"></app-user-avatar>
        <div class="item-detail">
          <span class="name">{{user.name}}</span>
        </div>
      </div>
    </ng-template>
  </div>
  <section class="detail-panel">
    <ng-container *ngIf="hasCurrentFriend()">
      <div class="avatar-wrapper">
        <ngx-avatar [name]="currentFriend.name" [src]="currentFriend.avatar" [bgColor]="'#6692ff'" [fgColor]="'white'"
                    [textSizeRatio]="2"
                    class="avatar" [size]="150"></ngx-avatar>
      </div>
      <span>{{currentFriend.name}}</span>
      <div class="operations">
        <button mat-button *ngIf="hasFriendship(currentFriend)">发起聊天</button>
        <button mat-button *ngIf="hasFriendship(currentFriend)" (click)="deleteFriend(currentFriend.id)">删除好友</button>
        <button mat-button *ngIf="!hasFriendship(currentFriend)" (click)="addFriend(currentFriend.id)">添加好友</button>
      </div>
    </ng-container>
  </section>
</div>
