@import "../../variables";

.login {
  @include better-center-box;
  background-color: white;
  width: 30%;
  min-width: 400px;
  max-height: 600px;
  display: flex;
  flex-direction: column;
}

.login > * {
  box-sizing: border-box;
  padding: 1em .5em 0 .5em;
  width: 100%;
}

.login > header {
  padding: 0;
  background-color: $title-background-color;
  color: $title-color;
  text-align: center;
  span {
    height: 50px;
    line-height: 50px;
  }
}

.btn-wrapper {
  //padding-bottom: 1em !important;
  text-align: center;
  button {
    width: 3em;
    color: #6692ff;
  }
}

button[disabled] {
  color: #ababab !important;
}

.small-link {
  text-align: right;
  font-size: x-small;
  padding-top: .2em !important;
  padding-bottom: .5em !important;
  a {
    text-decoration: none;
    color: #6692ff;
  }
}
