.menu-content {
  .item-detail {
    padding-left: .5em;
    padding-right: .5em;
    padding-top: .5em;
    display: inline-block;
  }
  .name {
    font-weight: bold;
    font-size: large;
    display: block;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
  }

  .search-box-wrapper {
    padding: .5em .5em .8em .8em;
  }
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
}

.detail-panel {
  flex: 1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .avatar-wrapper {
    margin-bottom: 20px;
  }

  .name {
    font-size: x-large;
    font-weight: bold;
    color: rgba(0, 0, 0, .7);
  }

  .operations {
    margin-top: 10px;
  }
}

.plus-button {
  position: absolute;
  top: 20px;
  right: 20px;
}

.avatar {
  display: inline-block;
}
