<div class="widget-wrapper">
  <div class="menu-widget">
    <div class="avatar">
      <app-user-avatar [user]="currentUser | async" class="pointer"></app-user-avatar>
      <div class="nickname">
        <span>{{(currentUser | async)?.name}}</span>
      </div>
    </div>
    <div class="menu-item pointer" [class.selected]="currentMenu == Menu.messages" (click)="selectMenu(Menu.messages)">
      <mat-icon [svgIcon]="'message-processing'" class="icon"></mat-icon>
      Messages
    </div>
    <div class="menu-item pointer" [class.selected]="currentMenu == Menu.contacts" (click)="selectMenu(Menu.contacts)">
      <mat-icon [svgIcon]="'account-box'" class="icon"></mat-icon>
      Contacts
    </div>
    <div class="menu-item pointer" [class.selected]="currentMenu == Menu.groups" (click)="selectMenu(Menu.groups)">
      <mat-icon [svgIcon]="'account-multiple'" class="icon"></mat-icon>
      Groups
    </div>
    <div class="menu-item pointer" [class.selected]="currentMenu == Menu.reminder" (click)="selectMenu(Menu.reminder)">
      <mat-icon [svgIcon]="'bell'" class="icon"></mat-icon>
      Reminder
    </div>

    <div class="menu-item pointer" [class.selected]="currentMenu == Menu.setting" (click)="selectMenu(Menu.setting)">
      <mat-icon [svgIcon]="'settings'" class="icon"></mat-icon>
      Setting
    </div>
    <div class="menu-item pointer" [class.selected]="currentMenu == Menu.logout" (click)="openLogoutDialog()">
      <mat-icon [svgIcon]="'logout'" class="icon"></mat-icon>
      Logout
    </div>
  </div>
  <div class="menu-content-wrapper">
    <ng-template appMenuContent></ng-template>
  </div>
</div>
