<div class="croppe-dialog">
  <h1 mat-dialog-title="">头像编辑</h1>
  <div mat-dialog-content>
    <div class="cropper-img-container">
      <img src="https://xrlin.github.io/assets/img/background.jpg" id="avatar-cropper-source">
    </div>
  </div>
  <div mat-dialog-actions class="footer">
    <button mat-raised-button (click)="cropped()" mat-dialog-close="true" class="btn btn-primary">Submit</button>
    <button mat-raised-button mat-dialog-close class="btn btn-default">Close</button>
  </div>
</div>
