/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~perfect-scrollbar/css/perfect-scrollbar.css';

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #e4e5ec;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.snack-bar--error {
  background-color: #ff4081;
  button.mat-simple-snackbar-action {
    color: white;
  }
}

.scrollbar-wrapper {
  height: 100%;
  position: relative;
}

.pointer {
  cursor: pointer;
}

