/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~perfect-scrollbar/css/perfect-scrollbar.css';

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #e4e5ec;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.snack-bar--error {
  background-color: #ff4081;
  button.mat-simple-snackbar-action {
    color: white;
  }
}

.snack-bar--success {
  background-color: #59ff48;
  button.mat-simple-snackbar-action {
    color: white;
  }
}

.scrollbar-wrapper {
  height: 100%;
  position: relative;
}

.pointer {
  cursor: pointer;
}

.menu-content {
  display: inline-block;
  z-index: 2;
  height: 100%;
  width: 18em;
  background-color: #f4f6fb;
  box-shadow: 2em 0 5em -4em #333333;

  .content {
    box-sizing: border-box;
    height: 8em;
    width: 100%;
    color: rgb(174, 170, 180);
    padding: 1em .5em;
    border-top: 1px solid rgb(226, 226, 228);
    .title {
      color: rgb(174, 177, 200);
    }
    &.active, &:hover, &:active {
      background-color: rgb(255, 255, 255);
    }
  }
}

.flex-form-wrapper {
  display: flex;
  flex-direction: column;
  & > * {
    width: 100%;
  }
}
